body{
    margin: 0;
    padding: 0;
}


.m1{
text-align: center;
}


a{
text-decoration: none;
}

.text1{
color: black;
  font-family: arial;
  font-size: 25px;
text-align: center;
}

.line{
width: auto;
height: 1px;
background-color: black;
border-radius: 20px;
}

.n1{
 margin: auto;
 display: flex;
   width: auto;
   text-align: center;
 
}
.text2{
color: black;
  font-family: arial;
  font-size: 21px;
text-align: center;
}

button {
 background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
 background-size: 800% 400%;
 padding: 1em 2em;
 display: inline-block;
 border: none;
 border-radius: 10px;
 font-size: 17px;
 font-weight: 700;
 color: white;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

button:hover {
 animation: gradient 3s infinite;
 transform: scale(1.05);
}

button:active {
 animation: gradient 3s infinite;
 transform: scale(0.8);
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }

 50% {
  background-position: 100% 50%;
 }

 100% {
  background-position: 0% 50%;
 }
}

.verch{
width: 150px;
height: 150px;

}
.m2{
text-align: center;
}

.n3{
 margin: auto;
 display: flex;
   width: auto;

   text-align: center;
   margin: auto;   
}
.padval{



    width: auto;
    height: 125px;
    background-color: #A9A9A9;
}

.m3{
text-align: center;
width: auto;
height: 69px;
background-color: #C0C0C0;
}
